<template>
  <header id="header-main">
    <div class="container">
      <button 
        id="nav-toggler" 
        class="button-small">
        <img 
          src="images/menu.svg" 
          alt="expand navbar button" >
      </button>
      <h2 id="logo"><nuxt-link to ="/">Ma5rooba</nuxt-link></h2>
      <form 
        id="header-search" 
        action="#">
        <input 
          type="text" 
          placeholder="Search..." >
      </form>
      <div id="signin-buttons">
        <button id="login-button">Login</button>
        <button id="signup-button">Sign Up</button>
      </div>
    </div>
  </header>
</template>

<style lang="sass">
@import "./assets/variables.sass"

#header-main
  background-color: white
  box-shadow: $large-shadow
  padding: 0.5em 0
  .container
    display: grid
    grid-template-areas: "logo header-search nav-toggler" "signin-buttons signin-buttons signin-buttons"
    grid-template-columns: 1fr 2fr 1fr
    grid-gap: 0.5em
    justify-items: center
    align-items: center

#logo
  grid-area: logo
  justify-self: flex-start
  font-size: 0.8em
  font-weight: bold
  color: $main-blue
  a
    color: inherit

#nav-toggler
  grid-area: nav-toggler
  justify-self: flex-end

#header-search
  grid-area: header-search
  width: 100%
  input
    border-radius: $main-radius
    width: 100%
    box-sizing: border-box
    padding: 0.5em
    border: 1px solid $body-grey

#signin-buttons
  grid-area: signin-buttons
  justify-self: flex-end
  display: none
  #signup-button
    border: 2px solid $main-blue
</style>
