<template>
  <article class="post">
    <div class="post-votes">
      <a href="#"><img 
        src="~assets/images/arrow-up-circle.svg"
        alt="upvote button"
        class="upvote-button icon"></a>
      <p>{{ voteCount }}</p>
      <a href="#"><img 
        src="~assets/images/arrow-up-circle.svg" 
        alt="downvote button"
        class="downvote-button icon"></a>
    </div>
    <div class="post-content">
      <div class="post-title-and-time">
        <h2 class="post-title">{{ title }}</h2>
        <p>{{ postTime }} ago</p>
      </div>
      <div class="user-and-board">
        <a 
          href="#" 
          class="username">{{ postUsername }}</a>
        <a 
          href="#" 
          class="board-name">{{ postBoard }}</a>
      </div>
      <p class="post-description">{{ postDescription }}</p>
    </div>
    <img
      :src="postThumbnail"
      alt="#"
      class="post-thumbnail"
    >
    <div class="post-buttons">
      <a 
        href="#" 
        class="post-comments"><img 
          src="~assets/images/message-square.svg" 
          alt="comment icon" 
          class="icon"> {{ postComments }} Comments</a>
      <a 
        href="#" 
        class="mobile-votes upvote"><img 
          src="~assets/images/arrow-up-circle.svg"
          alt="upvote button"
          class="upvote-button icon"></a>
      <a 
        href="#" 
        class="mobile-votes downvote"><img 
          src="~assets/images/arrow-up-circle.svg"
          alt="downvote button"
          class="downvote-button icon"></a>
    </div>
  </article>
</template>

<script>
export default {
  name: 'Post',
  props: {
    title: {
      type: String,
      required: true
    },
    postThumbnail: {
      type: String,
      required: false,
      default: 'https://via.placeholder.com/100x100'
    },
    postDescription: {
      type: String,
      required: true
    },
    postUsername: {
      type: String,
      required: true
    },
    postBoard: {
      type: String,
      required: true
    },
    postTime: {
      type: String,
      required: true
    },
    postComments: {
      type: Number,
      default: 0,
      required: false
    },
    voteCount: {
      type: Number,
      default: 0,
      required: false
    }
  }
}
</script>

<style lang="sass">
@import "./assets/variables.sass"

.post
  display: grid
  grid-template-areas: "post-content post-thumbnail" "post-buttons post-thumbnail"
  grid-template-columns: 1fr 65px
  grid-column-gap: 2em
  align-items: center
  background-color: white
  box-shadow: $small-shadow
  margin-bottom: 0.5em
  padding: 0.5em
  border-radius: $main-radius
  h2
    font-size: 1em
    font-weight: normal
    margin: 0
  a, p
    opacity: $low-opacity
    font-size: 0.8em

.post-votes
  grid-area: post-votes
  display: none
  img
    width: 2em
  *
    margin: 0.25em 0

.downvote-button
  transform: rotate(180deg)

.post-content
  grid-area: post-content
  .post-description
    display: none
    margin-top: 0.75em
  .post-title-and-time
    margin-bottom: 0.5em
    display: flex
    justify-content: space-between
    align-items: flex-end
    p
      margin: 0

.post-thumbnail
  grid-area: post-thumbnail
  width: 100%
  height: 65px
  object-fit: cover

.post-buttons
  grid-area: post-buttons
  .vote-mobile
    margin-left: 1em
  .hide-post
    display: none

.icon
  width: 1rem
  vertical-align: center
</style>
