body
  background-color: $body-grey
  font-size: 16px
  font-family: Verdana, Geneva, Tahoma, sans-serif

a
  text-decoration: none
  color: #000

ul
  list-style: none
  padding: 0
  li
    margin: 1em 0
    opacity: $low-opacity

button
  background-color: white
  color: #000
  padding: 0.5em 1em
  border: none
  cursor: pointer
  opacity: $low-opacity
  border-radius: $main-radius
  &:hover
    opacity: 1

.button-small
  padding: 0.25em 0.5em

input
  background-color: white
  border: none
  box-shadow: $small-shadow

.container
  margin: 0 auto
  width: 95%
  max-width: 1200px

.display-block
  display: block !important