@media only screen and (min-width: 900px)
  body
    font-size: 14px
  
  // Header
  #header-main
    .container
      grid-template-areas: "logo header-search signin-buttons"
    #nav-toggler
      display: none
    #signin-buttons
      display: block
    #logo
      font-size: 1.2em

  // Page Content
  #page-content
    .container
      grid-template-columns: 4fr 1fr
    #sidebar
      display: block

  .post
    grid-template-areas: "post-votes post-thumbnail post-content" "post-votes post-thumbnail post-buttons"
    grid-template-columns: auto 100px 1fr
    .post-votes
      display: grid
      justify-items: center
      align-self: stretch
    .post-description
      display: block
    .mobile-votes
      display: none
    .hide-post
      display: inline
    .post-thumbnail
      height: 100px